[v-cloak] {
    display: none;
}
body{
    font-family: 'Rubik', sans-serif;
}
.content-custom {
    margin-top: 100px;
}
@media (max-width: 768px) {
    .content-custom {
        margin-top: 0px;
    }
}
.checkbox-custom{
    position: absolute;
    top: 2px;
    left: -15px;
}
.swal2-container {
    display: flex;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .625em;
    overflow-x: hidden;
    background-color: transparent;
    -webkit-overflow-scrolling: touch;
}

.hide-class{
    display: none;
}
.validate_error{
    color: #F44336 !important;
}

.scroll-wrapper {
    overflow: hidden !important;
    padding: 0 !important;
    position: relative;
}
 
.scroll-wrapper > .scroll-content {
    border: none !important;
    box-sizing: content-box !important;
    height: auto;
    left: 0;
    margin: 0;
    max-height: none;
    max-width: none !important;
    overflow: scroll !important;
    padding: 0;
    position: relative !important;
    top: 0;
    width: auto !important;
}
 
.scroll-wrapper > .scroll-content::-webkit-scrollbar {
    height: 0;
    width: 0;
}
 
.scroll-element {
    display: none;
}
.scroll-element, .scroll-element div {
    box-sizing: content-box;
}
 
.scroll-element.scroll-x.scroll-scrollx_visible,
.scroll-element.scroll-y.scroll-scrolly_visible {
    display: block;
}
 
.scroll-element .scroll-bar,
.scroll-element .scroll-arrow {
    cursor: default;
}
 
.scroll-textarea {
    border: 1px solid #cccccc;
    border-top-color: #999999;
}
.scroll-textarea > .scroll-content {
    overflow: hidden !important;
}
.scroll-textarea > .scroll-content > textarea {
    border: none !important;
    box-sizing: border-box;
    height: 100% !important;
    margin: 0;
    max-height: none !important;
    max-width: none !important;
    overflow: scroll !important;
    outline: none;
    padding: 2px;
    position: relative !important;
    top: 0;
    width: 100% !important;
}
.scroll-textarea > .scroll-content > textarea::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.scrollbar-inner > .scroll-element,
.scrollbar-inner > .scroll-element div
{
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 10;
}
 
.scrollbar-inner > .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}
 
.scrollbar-inner > .scroll-element.scroll-x {
    bottom: 2px;
    height: 8px;
    left: 0;
    width: 100%;
}

/* width scrollbar */
.scrollbar-inner > .scroll-element.scroll-y {
    height: 100%;
    right: 2px;
    top: 0;
    width: 5px;
}
 
.scrollbar-inner > .scroll-element .scroll-element_outer {
    overflow: hidden;
}
 
.scrollbar-inner > .scroll-element .scroll-element_outer,
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
 
.scrollbar-inner > .scroll-element .scroll-element_track,
.scrollbar-inner > .scroll-element .scroll-bar {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity=40);
    opacity: 0.4;
}
 
.scrollbar-inner > .scroll-element .scroll-element_track { background-color: #e0e0e0; }
.scrollbar-inner > .scroll-element .scroll-bar { background-color: #c2c2c2; }
.scrollbar-inner > .scroll-element:hover .scroll-bar { background-color: #919191; }
.scrollbar-inner > .scroll-element.scroll-draggable .scroll-bar { background-color: #919191; }
 
 
/* update scrollbar offset if both scrolls are visible */
 
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track { top: -12px; }
 
 
.scrollbar-inner > .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size { left: -12px; }
.scrollbar-inner > .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size { top: -12px; }

.uppercase{
    text-transform: uppercase !important;
}

.bold{
    font-weight: bold !important;
}

.loading {
    color: rgba(255, 255, 255, 0);
    position: relative;
    overflow: hidden;
}
.loading::after {
    content: "";
    display: block;
    background-color: #dddfe2;
    position: absolute;
    top: 2px;
    width: 100%;
    height: calc(100% - 12px);
    transform: translateX(0);
    animation: 1.5s loading-placeholder ease-in-out infinite;
}
.loading-full {
    position: relative;
    overflow: hidden;
    /* visibility: hidden; */
}
.loading-full::after {
    content: "";
    display: block;
    background-color: #dddfe2;
    position: absolute;
    z-index: 1000;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0);
    animation: 1.5s loading-placeholder ease-in-out infinite;
}
@keyframes loading-placeholder {
    0% {
    transform: translateX(-100%);
    }
    100% {
    transform: translateX(100%);
    }
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animated-background {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 5px;
    position: relative;
    color:  rgba(255, 255, 255, 0);
}
  
.line{
    border-bottom: 0.3px solid #ddd; 
    width: 100%;
}

.title-heading{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.panel-footer{
    padding: 0px;
}

.panel-footer div{
    padding: 20px
}

/* vue-autocomplete */
.autocomplete-results {
    padding: 0px;
    margin: 0;
    border: 1px solid #ddd;
    border-top: none;
    overflow: auto;
    width: 100%;
    background: white;
    position: absolute;
    z-index: 100;
}

.autocomplete-result {
    list-style: none;
    text-align: left;
    padding: 4px 8px;
    cursor: pointer;
    padding: 4px 14px;
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
    background-color: #646d6b;
    color: white;
}

.modal-mask {
    position: fixed;
    /* z-index: 9998; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
    overflow-y: none;
}

.select2-cs{
    min-width: 300px;
}

.empty-label{
    font-size: 11px;
}

.icon-thumb i{
    text-align: center;
    font-size: 55px;
}

.empty-cart{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
}