/*@media (min-width: 1800px) {
    h1 {
        font-size: 65px;
    }
    h2 {
        font-size: 58px;
    }
    h3 {
        font-size: 50px;
    }
    h4 {
        font-size: 46px;
    }
    h5 {
        font-size: 40px;
    }
    h6 {
        font-size: 48px;
    }
}

@media (min-width: 2800px) {
    h1 {
        font-size: 76px;
    }
    h2 {
        font-size: 70px;
    }
    h3 {
        font-size: 66px;
    }
    h4 {
        font-size: 54px;
    }
    h5 {
        font-size: 50px;
    }
    h6 {
        font-size: 46px;
    }
}

@media (min-width: 2100px) {
    h1 {
        font-size: 0.3em;
    }
    h2 {
        font-size: 0.3em;
    }
    h3 {
        font-size: 0.3em;
    }
    h4 {
        font-size: 0.3em;
    }
    h5 {
        font-size: 0.3em;
    }
    h6 {
        font-size: 0.3em;
    }
}*/
@media (min-width: 300px) {
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.1em;
    }
    h4 {
        font-size: 1.0em;
    }
    h5 {
        font-size: 1.0em;
    }
    h6 {
        font-size: 1.0em;
    }
}

@media (min-width: 400px) {
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1.4em;
    }
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: 1.4em;
    }
    h5 {
        font-size: 1.4em;
    }
    h6 {
        font-size: 1.4em;
    }
}

@media (min-width: 500px) {
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1.5em;
    }
    h4 {
        font-size: 1.5em;
    }
    h5 {
        font-size: 1.5em;
    }
    h6 {
        font-size: 1.5em;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 1.6em;
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.6em;
    }
    h4 {
        font-size: 1.2em;
    }
    h5 {
        font-size: 1.6em;
    }
    h6 {
        font-size: 1.6em;
    }
}

@media (min-width: 700px) {
    h1 {
        font-size: 1.7em;
    }
    h2 {
        font-size: 1.7em;
    }
    h3 {
        font-size: 1.7em;
    }
    h4 {
        font-size: 1.7em;
    }
    h5 {
        font-size: 1.7em;
    }
    h6 {
        font-size: 1.7em;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.8em;
    }
    h4 {
        font-size: 1.8em;
    }
    h5 {
        font-size: 1.8em;
    }
    h6 {
        font-size: 1.8em;
    }
    .thumb img {
        height: 480px !important;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 1.9em;
    }
    h2 {
        font-size: 1.9em;
    }
    h3 {
        font-size: 1.9em;
    }
    h4 {
        font-size: 1.9em;
    }
    h5 {
        font-size: 1.9em;
    }
    h6 {
        font-size: 1.9em;
    }
    .thumb img {
        height: 480px !important;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 2em;
    }
    h3 {
        font-size: 2em;
    }
    h4 {
        font-size: 2em;
    }
    h5 {
        font-size: 2em;
    }
    h6 {
        font-size: 2em;
    }
    .thumb img {
        height: 480px !important;
    }
}

@media (min-width: 1100px) {
    h1 {
        font-size: 2.1em;
    }
    h2 {
        font-size: 2.1em;
    }
    h3 {
        font-size: 2.1em;
    }
    h4 {
        font-size: 2.1em;
    }
    h5 {
        font-size: 2.1em;
    }
    h6 {
        font-size: 2.1em;
    }
    .thumb img {
        height: 480px !important;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 2.3em;
    }
    h2 {
        font-size: 2.3em;
    }
    h3 {
        font-size: 2.3em;
    }
    h4 {
        font-size: 1.3em;
    }
    h5 {
        font-size: 1.3em;
    }
    h6 {
        font-size: 1.2em;
    }
    .thumb img {
        height: 480px !important;
    }
}

@media (min-width: 1300px) {
    h1 {
        font-size: 2.3em;
    }
    h2 {
        font-size: 2.3em;
    }
    h3 {
        font-size: 2.3em;
    }
    h4 {
        font-size: 1.3em;
    }
    h5 {
        font-size: 1.3em;
    }
    h6 {
        font-size: 1.2em;
    }
    .thumb img {
        height: 480px !important;
    }
}

@media (min-width: 1400px) {
    h1 {
        font-size: 2.3em;
    }
    h2 {
        font-size: 2.3em;
    }
    h3 {
        font-size: 2.3em;
    }
    h4 {
        font-size: 1.3em;
    }
    h5 {
        font-size: 1.3em;
    }
    h6 {
        font-size: 1.2em;
    }
    .thumb img {
        height: 520px !important
    }
}

@media (min-width: 1500px) {
    h1 {
        font-size: 2.3em;
    }
    h2 {
        font-size: 2.3em;
    }
    h3 {
        font-size: 2.3em;
    }
    h4 {
        font-size: 1.3em;
    }
    h5 {
        font-size: 1.3em;
    }
    h6 {
        font-size: 1.2em;
    }
    .thumb img {
        height: 520px !important
    }
}

@media (min-width: 1600px) {
    h1 {
        font-size: 2.3em;
    }
    h2 {
        font-size: 2.3em;
    }
    h3 {
        font-size: 2.3em;
    }
    h4 {
        font-size: 1.5em;
    }
    h5 {
        font-size: 1.3em;
    }
    h6 {
        font-size: 1.2em;
    }
    .thumb img {
        height: 520px !important
    }
}

@media (min-width: 1700px) {
    h1 {
        font-size: 2.3em;
    }
    h2 {
        font-size: 2.3em;
    }
    h3 {
        font-size: 2.3em;
    }
    h4 {
        font-size: 1.5em;
    }
    h5 {
        font-size: 1.3em;
    }
    h6 {
        font-size: 1.2em;
    }
    .thumb img {
        height: 600px !important
    }
}

@media (min-width: 1800px) {
    h1 {
        font-size: 2.4em;
    }
    h2 {
        font-size: 2.3em;
    }
    h3 {
        font-size: 2.3em;
    }
    h4 {
        font-size: 1.7em;
    }
    h5 {
        font-size: 1.3em;
    }
    h6 {
        font-size: 1.35em;
    }
    .table {
        font-size: 1.6em;
    }
    .thumb img {
        height: 600px !important
    }
}

@media (min-width: 1900px) {
    h1 {
        font-size: 2.6em;
    }
    h2 {
        font-size: 2.4em;
    }
    h3 {
        font-size: 2.4em;
    }
    h4 {
        font-size: 1.8em;
    }
    h5 {
        font-size: 1.4em;
    }
    h6 {
        font-size: 1.4em;
    }
    .table {
        font-size: 1.6em;
    }
    .thumb img {
        height: 600px !important
    }
}

@media (min-width: 2000px) {
    h1 {
        font-size: 2.6em;
    }
    h2 {
        font-size: 2.4em;
    }
    h3 {
        font-size: 2.4em;
    }
    h4 {
        font-size: 1.8em;
    }
    h5 {
        font-size: 1.4em;
    }
    h6 {
        font-size: 1.4em;
    }
    .table {
        font-size: 1.8em;
    }
    .thumb img {
        height: 600px !important
    }
}

@media (min-width: 2400px) {
    h1 {
        font-size: 3.6em;
    }
    h2 {
        font-size: 3.4em;
    }
    h3 {
        font-size: 3.4em;
    }
    h4 {
        font-size: 2.8em;
    }
    h5 {
        font-size: 2.4em;
    }
    h6 {
        font-size: 2em;
    }
    .table {
        font-size: 1.85em;
    }
    .thumb img {
        height: 600px !important
    }
}

@media (min-width: 2800px) {
    h1 {
        font-size: 3.9em;
    }
    h2 {
        font-size: 3.8em;
    }
    h3 {
        font-size: 3.7em;
    }
    h4 {
        font-size: 2.8em;
    }
    h5 {
        font-size: 2.4em;
    }
    h6 {
        font-size: 2em;
    }
    .table {
        font-size: 2.2em;
    }
    .thumb img {
        height: 600px !important
    }
}

@media (min-width: 3200px) {
    h1 {
        font-size: 4.2em;
    }
    h2 {
        font-size: 4em;
    }
    h3 {
        font-size: 4em;
    }
    h4 {
        font-size: 3em;
    }
    h5 {
        font-size: 2.8em;
    }
    h6 {
        font-size: 2.4em;
    }
    .table {
        font-size: 2.3em;
    }
    .thumb img {
        height: 600px !important
    }
}

@media (min-width: 3600px) {
    h1 {
        font-size: 4.8em;
    }
    h2 {
        font-size: 4.4em;
    }
    h3 {
        font-size: 4.3em;
    }
    h4 {
        font-size: 3.3em;
    }
    h5 {
        font-size: 3em;
    }
    h6 {
        font-size: 2.8em;
    }
    .table {
        font-size: 2.5em;
    }
    .thumb img {
        height: 600px !important
    }
}

@media (min-width: 4000px) {
    h1 {
        font-size: 5em;
    }
    h2 {
        font-size: 4.6em;
    }
    h3 {
        font-size: 4.6em;
    }
    h4 {
        font-size: 3.5em;
    }
    h5 {
        font-size: 3.4em;
    }
    h6 {
        font-size: 3em;
    }
    .table {
        font-size: 3em;
    }
    .thumb img {
        height: 600px !important
    }
}

@media (min-width: 4400px) {
    h1 {
        font-size: 5.5em;
    }
    h2 {
        font-size: 5em;
    }
    h3 {
        font-size: 5em;
    }
    h4 {
        font-size: 4em;
    }
    h5 {
        font-size: 4em;
    }
    h6 {
        font-size: 3.5em;
    }
    .table {
        font-size: 3em;
    }
    .thumb img {
        height: 600px !important
    }
}