@font-face {
	font-family: 'webfont-medical-icons';
	src:url('fonts/webfont-medical-icons.eot');
	src:url('fonts/webfont-medical-icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/webfont-medical-icons.ttf') format('truetype'),
		url('fonts/webfont-medical-icons.woff') format('woff'),
		url('fonts/webfont-medical-icons.svg#webfont-medical-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-med-"], [class*=" icon-med-"] {
	font-family: 'webfont-medical-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-med-i-womens-health:before {
	content: "\e600";
}
.icon-med-i-waiting-area:before {
	content: "\e601";
}
.icon-med-i-volume-control:before {
	content: "\e602";
}
.icon-med-i-ultrasound:before {
	content: "\e603";
}
.icon-med-i-text-telephone:before {
	content: "\e604";
}
.icon-med-i-surgery:before {
	content: "\e605";
}
.icon-med-i-stairs:before {
	content: "\e606";
}
.icon-med-i-radiology:before {
	content: "\e607";
}
.icon-med-i-physical-therapy:before {
	content: "\e608";
}
.icon-med-i-pharmacy:before {
	content: "\e609";
}
.icon-med-i-pediatrics:before {
	content: "\e60a";
}
.icon-med-i-pathology:before {
	content: "\e60b";
}
.icon-med-i-outpatient:before {
	content: "\e60c";
}
.icon-med-i-mental-health:before {
	content: "\e60d";
}
.icon-med-i-medical-records:before {
	content: "\e60e";
}
.icon-med-i-medical-library:before {
	content: "\e60f";
}
.icon-med-i-mammography:before {
	content: "\e610";
}
.icon-med-i-laboratory:before {
	content: "\e611";
}
.icon-med-i-labor-delivery:before {
	content: "\e612";
}
.icon-med-i-immunizations:before {
	content: "\e613";
}
.icon-med-i-imaging-root-category:before {
	content: "\e614";
}
.icon-med-i-imaging-alternative-pet:before {
	content: "\e615";
}
.icon-med-i-imaging-alternative-mri:before {
	content: "\e616";
}
.icon-med-i-imaging-alternative-mri-two:before {
	content: "\e617";
}
.icon-med-i-imaging-alternative-ct:before {
	content: "\e618";
}
.icon-med-i-fire-extinguisher:before {
	content: "\e619";
}
.icon-med-i-family-practice:before {
	content: "\e61a";
}
.icon-med-i-emergency:before {
	content: "\e61b";
}
.icon-med-i-elevators:before {
	content: "\e61c";
}
.icon-med-i-ear-nose-throat:before {
	content: "\e61d";
}
.icon-med-i-drinking-fountain:before {
	content: "\e61e";
}
.icon-med-i-cardiology:before {
	content: "\e61f";
}
.icon-med-i-billing:before {
	content: "\e620";
}
.icon-med-i-anesthesia:before {
	content: "\e621";
}
.icon-med-i-ambulance:before {
	content: "\e622";
}
.icon-med-i-alternative-complementary:before {
	content: "\e623";
}
.icon-med-i-administration:before {
	content: "\e624";
}
.icon-med-i-social-services:before {
	content: "\e625";
}
.icon-med-i-smoking:before {
	content: "\e626";
}
.icon-med-i-restrooms:before {
	content: "\e627";
}
.icon-med-i-restaurant:before {
	content: "\e628";
}
.icon-med-i-respiratory:before {
	content: "\e629";
}
.icon-med-i-registration:before {
	content: "\e62a";
}
.icon-med-i-oncology:before {
	content: "\e62b";
}
.icon-med-i-nutrition:before {
	content: "\e62c";
}
.icon-med-i-nursery:before {
	content: "\e62d";
}
.icon-med-i-no-smoking:before {
	content: "\e62e";
}
.icon-med-i-neurology:before {
	content: "\e62f";
}
.icon-med-i-mri-pet:before {
	content: "\e630";
}
.icon-med-i-interpreter-services:before {
	content: "\e631";
}
.icon-med-i-internal-medicine:before {
	content: "\e632";
}
.icon-med-i-intensive-care:before {
	content: "\e633";
}
.icon-med-i-inpatient:before {
	content: "\e634";
}
.icon-med-i-information-us:before {
	content: "\e635";
}
.icon-med-i-infectious-diseases:before {
	content: "\e636";
}
.icon-med-i-hearing-assistance:before {
	content: "\e637";
}
.icon-med-i-health-services:before {
	content: "\e638";
}
.icon-med-i-health-education:before {
	content: "\e639";
}
.icon-med-i-gift-shop:before {
	content: "\e63a";
}
.icon-med-i-genetics:before {
	content: "\e63b";
}
.icon-med-i-first-aid:before {
	content: "\e63c";
}
.icon-med-i-dermatology:before {
	content: "\e63d";
}
.icon-med-i-dental:before {
	content: "\e63e";
}
.icon-med-i-coffee-shop:before {
	content: "\e63f";
}
.icon-med-i-chapel:before {
	content: "\e640";
}
.icon-med-i-cath-lab:before {
	content: "\e641";
}
.icon-med-i-care-staff-area:before {
	content: "\e642";
}
.icon-med-i-accessibility:before {
	content: "\e643";
}
.icon-med-i-diabetes-education:before {
	content: "\e644";
}
.icon-med-i-hospital:before {
	content: "\e645";
}
.icon-med-i-kidney:before {
	content: "\e646";
}
.icon-med-i-ophthalmology:before {
	content: "\e647";
}
.icon-med-womens-health:before {
	content: "\e648";
}
.icon-med-waiting-area:before {
	content: "\e649";
}
.icon-med-volume-control:before {
	content: "\e64a";
}
.icon-med-ultrasound:before {
	content: "\e64b";
}
.icon-med-text-telephone:before {
	content: "\e64c";
}
.icon-med-surgery:before {
	content: "\e64d";
}
.icon-med-stairs:before {
	content: "\e64e";
}
.icon-med-radiology:before {
	content: "\e64f";
}
.icon-med-physical-therapy:before {
	content: "\e650";
}
.icon-med-pharmacy:before {
	content: "\e651";
}
.icon-med-pediatrics:before {
	content: "\e652";
}
.icon-med-pathology:before {
	content: "\e653";
}
.icon-med-outpatient:before {
	content: "\e654";
}
.icon-med-ophthalmology:before {
	content: "\e655";
}
.icon-med-mental-health:before {
	content: "\e656";
}
.icon-med-medical-records:before {
	content: "\e657";
}
.icon-med-medical-library:before {
	content: "\e658";
}
.icon-med-mammography:before {
	content: "\e659";
}
.icon-med-laboratory:before {
	content: "\e65a";
}
.icon-med-labor-delivery:before {
	content: "\e65b";
}
.icon-med-kidney:before {
	content: "\e65c";
}
.icon-med-immunizations:before {
	content: "\e65d";
}
.icon-med-imaging-root-category:before {
	content: "\e65e";
}
.icon-med-imaging-alternative-pet:before {
	content: "\e65f";
}
.icon-med-imaging-alternative-mri:before {
	content: "\e660";
}
.icon-med-imaging-alternative-mri-two:before {
	content: "\e661";
}
.icon-med-imaging-alternative-ct:before {
	content: "\e662";
}
.icon-med-hospital:before {
	content: "\e663";
}
.icon-med-fire-extinguisher:before {
	content: "\e664";
}
.icon-med-family-practice:before {
	content: "\e665";
}
.icon-med-emergency:before {
	content: "\e666";
}
.icon-med-elevators:before {
	content: "\e667";
}
.icon-med-ear-nose-throat:before {
	content: "\e668";
}
.icon-med-drinking-fountain:before {
	content: "\e669";
}
.icon-med-diabetes-education:before {
	content: "\e66a";
}
.icon-med-cardiology:before {
	content: "\e66b";
}
.icon-med-billing:before {
	content: "\e66c";
}
.icon-med-anesthesia:before {
	content: "\e66d";
}
.icon-med-ambulance:before {
	content: "\e66e";
}
.icon-med-alternative-complementary:before {
	content: "\e66f";
}
.icon-med-administration:before {
	content: "\e670";
}
.icon-med-accessibility:before {
	content: "\e671";
}
.icon-med-social-services:before {
	content: "\e672";
}
.icon-med-smoking:before {
	content: "\e673";
}
.icon-med-restrooms:before {
	content: "\e674";
}
.icon-med-restaurant:before {
	content: "\e675";
}
.icon-med-respiratory:before {
	content: "\e676";
}
.icon-med-oncology:before {
	content: "\e677";
}
.icon-med-nutrition:before {
	content: "\e678";
}
.icon-med-nursery:before {
	content: "\e679";
}
.icon-med-no-smoking:before {
	content: "\e67a";
}
.icon-med-neurology:before {
	content: "\e67b";
}
.icon-med-mri-pet:before {
	content: "\e67c";
}
.icon-med-interpreter-services:before {
	content: "\e67d";
}
.icon-med-internal-medicine:before {
	content: "\e67e";
}
.icon-med-intensive-care:before {
	content: "\e67f";
}
.icon-med-inpatient:before {
	content: "\e680";
}
.icon-med-information-us:before {
	content: "\e681";
}
.icon-med-infectious-diseases:before {
	content: "\e682";
}
.icon-med-hearing-assistance:before {
	content: "\e683";
}
.icon-med-health-services:before {
	content: "\e684";
}
.icon-med-health-education:before {
	content: "\e685";
}
.icon-med-gift-shop:before {
	content: "\e686";
}
.icon-med-genetics:before {
	content: "\e687";
}
.icon-med-first-aid:before {
	content: "\e688";
}
.icon-med-dental:before {
	content: "\e689";
}
.icon-med-coffee-shop:before {
	content: "\e68a";
}
.icon-med-chapel:before {
	content: "\e68b";
}
.icon-med-cath-lab:before {
	content: "\e68c";
}
.icon-med-care-staff-area:before {
	content: "\e68d";
}
.icon-med-registration:before {
	content: "\e68e";
}
.icon-med-dermatology:before {
	content: "\e68f";
}
